@import 'node_modules/bootstrap/scss/bootstrap-reboot';
@import 'node_modules/bootstrap/scss/_type';
@import 'node_modules/bootstrap/scss/_buttons';

$border-color: lighten($gray-light, 30%);
$box-bg-color: $gray-lighter;

html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 1em .5em;
    background: $box-bg-color;
    text-align: center;
    border-bottom: 1px solid $border-color;
}

.body {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .current-letter {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        span {
            display: block;
            text-align: center;
            font-weight: $display1-weight;
            font-size: 20rem;
            font-size: 70vmin;
            line-height: 1rem;

            &.countdown {
                color: $border-color;
            }
        }
        @media (orientation: landscape) {
            font-size: 20vmin;
        }
    }
    .alphabet {
        display: none;
    }
    #alphabetDisplay {
        display: flex;
        flex: none;
        flex-wrap: wrap;
        text-align: center;
        margin: .5em;
        justify-content: space-around;
        color: $gray-light;

        span {
            display: block;
            margin: 0 .1em;
            font-size: $font-size-sm;

            &.used {
                color: $border-color;
            }

            &.current {
                font-weight: bold;
                color: $gray;
            }
        }
    }
}

.controls {
    border-top: 1px solid $border-color;
    width: 100%;
    background: $box-bg-color;
    p {
        margin: .5em;
    }
    .restart {
        display: none; // start hidden; will be shown by JS
    }
}